* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}
body,
nav {
  background-color: #212529;
  color: #fff;
}
input:focus {
  outline: none;
}
